html {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: black;
    background-repeat: no-repeat;
}


.fondohead {
    opacity: 80%;
    position: relative;
}


.menu {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    position: absolute;
    margin-left: 75rem;
}

.nav-link {
    color: aliceblue;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 32rem;

}

h1 {
    font-size: 2.5rem;
    color: #0de0b957;
    position: absolute;
    left: 1rem;
    top: 1rem;
    text-shadow: 0 0 7px cyan, 0 0 10px cyan, 0 0 42px cyan, 0 0 77px cyan, 0 0 100px cyan;
}


/* índice */


.buscador {
    background-color: rgb(67, 66, 66);
    display: flex;
    justify-content: center;
    list-style: none;
    height: 3.5rem;
}

.buscador a {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    padding-right: 6rem; 
    margin-top: 1.2rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.buscador a:hover {
    background-color: #ddd;
    color: black;
}


.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    background-color: black;
}

.menu-vertical>li>a {
    display: block;
}

.buscador>li:hover .menu-vertical {
    display: block;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;
    }

.search button {
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: underline;
    background: none;
    color: aliceblue;
    border: none;
}






#cuerpo {
    /* background-image: radial-gradient(circle, #444444, #3e3d3d, #2c2b2b, #1b1a1b, #050505); */
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 85%;
    height: auto;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 7rem;
    
}

.estilocartas {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 21rem;
    padding-right: 20px;
    margin-top: 3rem;
    margin-left: auto;
    margin-bottom: 7rem;
    }

.estilocartas:hover {
    transform: scale(1.15);
    opacity: 1;
}

.estilocartas img {
    width: 100%;
    height: 100%; /* Establece la altura al 100% del contenedor (.estilocartas) */
    object-fit: cover;
    display: flex;
    flex-direction: row;
    row-gap: 33%;
    cursor: pointer;
}

.estilocartas h2 a {
    display: flex;
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    text-align: justify;
}

.estilocartas p {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: white;
    margin-left: 0.5rem;
}

.titulopeli {
    margin-top: 1rem;
    cursor: pointer;
    color: white;
    text-align: center;
}

.estilocartita {
    position: absolute;
    background-color: black;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 17rem;
    height: 21rem;
    border-radius: 0.4rem;
    list-style: none;
    }

.estilocartita p{
    color: white;
    font-size: 0.8rem;
    text-align: justify;
    display: block;
}

.estilocartita .video-container {
    width: 100%; 
    height: 0; 
    padding-bottom: 56.25%; 
    position: relative; 
    margin-top: 10px; 
  }
  
  .estilocartita .video-container iframe {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
  }

.estilocartita button.cerrarBtn {
    display: flex;
    background-color: #007bff;
    color: white;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 5.5rem;
    margin-top: 1rem;
}


hr {
    box-sizing: content-box;
    border: 2px solid white;
    overflow: visible;
    width: 77rem;
    margin-left: 7rem;
    }

.contacto {
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.estaticas {
    padding-top: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estaticas a {
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
    color: aliceblue;
}